<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>   
</head>
<body>
    <h1>Bienvenidos a la pagina de about</h1>
    <p> Esta es la pagina de about</p>
    <a href="/">Inicio</a>
    <style>
        body{
            background-color: black;
        }
        h1{
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: aqua;
        }
        p{
            color: white;
        }
    </style>
</body>
</html>